@import url("https://fonts.cdnfonts.com/css/balloon-dreams");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Poppins:wght@700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: #003399;
  --white: #ffffff;
  --mustard: #ff9933;
  --black: #000000;
  --heavenly: #99cccc;
}

body {
  min-width: 1200px;
  background-size: cover;
  background-image: linear-gradient(30deg, rgb(46, 49, 46), rgb(12, 12, 12), rgb(35, 39, 35), rgb(20, 19, 19), rgb(27, 25, 25));
}

.dropdown-toggle {
  background-color: #fff;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
  list-style: none;
}

.dropdown-list {
  width: 120px;
  margin: 5px 17px;
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.language-dropdown {
  position: absolute;
  padding: 19px;
  left: 0;
  z-index: 1;
}

.dropdown-list li:hover {
  border-radius: 16px;
  margin: 0px;
  background-color: #f4f4f4;
}


.dropdown-list li {
  padding: 10px 20px;
  text-align: left;
}

.dropdown-list li a {
  padding: 1px 10px;
  text-decoration: none;
  color: #333;
  display: block;
}


.button,
.submit {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--heavenly);
  border-radius: 30px;
  width: 17%;
  text-align: center;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  color: var(--heavenly);
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--heavenly);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid var(--heavenly);
}

.button:hover:before {
  top: -35%;
  background-color: var(--heavenly);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: var(--heavenly);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.section {
  padding: 1% 7%;

}


.section__home {
  display: flex;
  flex-direction: row;
}

nav {
  position: fixed;
  height: 70px;
  top: 0;
  z-index: 200;
  width: 100%;
  background: steelblue;
  color: var(--white);
  background: hsl(0 0% 0% / 0.1);
  backdrop-filter: blur(1rem);
    border-bottom: 1px solid #9b9b9b1a;
}

.navigation {
  padding: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  max-width: 850px;
  /*margin-left: 55%;*/
  margin-left: auto;
  margin-right: 20px;
}

.navigation .button {
  width: 137px;
}

.navigationbar .burger,
.navigationbar .cv-mob {
  display: none;
}

h5 {
  font-size: medium;
}

.nav {
font-family: 'Fira Sans', sans-serif;
font-weight: 600;
  text-decoration: none;
  color: var(--white);
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
}

.nav:hover {
  color: #99cccc;
}

.name {
  font-family: "BALLOON DREAMS", sans-serif;
  color: var(--white);
  font-size: 5rem;
}

img {
  width: 100%;
  height: auto;
}

.section__home__proff {
  margin-top: 5%;
  display: flex;
  gap: 5%;
}

.card {
  padding: 2%;
  border-radius: 30px;
  justify-content: center;
  margin-top: 30px;
  color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 25%;
}

.section__home__about {
  color: #ffffff;
  margin-top: 10%;
  font-size: x-large;
}

.text {
  color: #000000;
  border-radius: 30px;
  margin-top: 13%;
  font-size: x-large;
  line-height: 30px;
  background-color: #ffffff;
  width: 105%;
  backdrop-filter: blur(70px);
  font-size: medium;
}

.skills {
  margin: 10% 10%;
}

.programms {
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.programms__wrapper__card {
  margin: 1%;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width: 17%;
  border-radius: 20%;
  border: solid 1px var(--heavenly);
}

.programms__wrapper__card:hover {
  background-color: var(--heavenly);
}

.programms img {
  margin: 15%;
  width: 40%;
}

.text__s {
  margin-top: 2%;
  font-size: 4rem;
  margin-left: 5%;
  color: #ffffff;
  font-family: "BALLOON DREAMS", sans-serif;
}

.boxService {
  display: block;
  padding-bottom: 70px;
}

.service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
  gap: 3%;
}

.service__card {
  position: relative;
  overflow: hidden;
  height: 30%;
  width: 30%;
}

.service__wrapper__card {
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 0px transparent;
  background-clip: padding-box;
  background-color: #ffffff;
  border-radius: 30px;
  width: 320px;
  height: 320px;
  text-align: left;
}

.icons {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  color: var(--white);
  width: 50px;
  height: 160px;
  background: var(--blue);
  right: 0;
  margin-top: 13%;
  z-index: 10;
}

.fa-brands {
  color: var(--white);
  margin: 8px;
}

.icons>a:hover {
  color: var(--white);
  font-size: large;
}

.fa-solid {
  font-size: xx-large;
}

.quotation p {
  margin: 5%;
  text-align: center;
}

.quotation {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.quot a:hover {
  color: #ffffff;
  font-weight: 100;
}

.quot1 {
  border: solid 1px #ff9933;
  display: flex;
  align-items: center;
  font-weight: 50;
  font-size: large;
  font-style: italic;
  text-align: center;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  border-radius: 30px;
  margin: 2%;
  padding: 5% 0%;
}

.quot1:hover {
  border: solid 1px var(--blue);
  display: flex;
  font-weight: 50;
  font-size: large;
  font-style: italic;
  text-align: center;
  background-color: var(--blue);
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  border-radius: 30px;
  margin: 2%;
  padding: 5% 0%;
}

.quot2 {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 50;
  font-size: large;
  font-style: italic;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  margin: 30px;
  border: solid 1px #ff9933;
  margin: 2%;
  padding: 5% 0%;
}

.quot2:hover {
  border: solid 1px var(--blue);
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 50;
  font-size: large;
  font-style: italic;
  text-align: center;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  margin: 2%;
  padding: 5% 0%;
}

.quot3 {
  font-weight: 50;
  font-size: large;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: solid 1px #ff9933;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  margin: 2%;
  padding: 5% 0%;
}

.quot3:hover {
  border: solid 1px var(--blue);
  font-weight: 50;
  font-size: large;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--blue);
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  margin: 2%;
  padding: 5% 0%;
}

.quot4 {
  font-weight: 50;
  font-size: large;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--mustard);
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  margin: 2%;
  padding: 5% 0%;
}

.quot4:hover {
  font-weight: 50;
  font-size: large;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--blue);
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  margin: 2%;
  padding: 5% 0%;
}

.thanks {
  background-image: url(./img/akshar-dave-lXIpMj1AFUI-unsplash\ 1.png);
  background-size: cover;
  padding: 2%;
  margin: 0;
}

#contacts {
  padding-top: 105px;
}

.footer__text {
font-family: 'Fira Sans', sans-serif;
  margin: 3%;
  font-size: x-large;
  font-weight: 900;
  color: #ffffff;
}

.footer__text__s {
font-family: 'Fira Sans', sans-serif;
font-weight: 600;
  font-size: large;
  font-weight: 700;
  margin: 3%;
  font-weight: 500;
  color: #ffffff;
}

.f {
  margin: 10px;
  color: var(--heavenly);
  font-size: xx-large;
}

.f .fa-brands {
  color: var(--heavenly);
}

.submit {
  color: var(--white);
  background-color: var(--heavenly);
  margin: 10px;
  width: 550px;
}

.submit:hover {
  cursor: pointer;
  width: 570px;
}

.proff {
  flex-flow: column;
  align-items: center;
  display: flex;
}

#placeholder {
  font-size: medium;
  margin-bottom: 0%;
  border-radius: 30px;
  padding: 25px;
  border: none;
}

.footer {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bbutton {
  margin-top: 1.5%;
  padding: 2%;
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--heavenly);
  border-radius: 30px;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: var(--heavenly);
  z-index: 1;
}

.bbutton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.bbutton:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--heavenly);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.bbutton:hover {
  color: var(--white);
  border: 1px solid var(--heavenly);
}

.bbutton:hover:before {
  top: -35%;
  background-color: var(--heavenly);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.bbutton:hover:after {
  top: -45%;
  background-color: var(--heavenly);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#contacts {
  scroll-behavior: smooth;
}

#home {
  scroll-behavior: smooth;
}

#skills {
  scroll-behavior: smooth;
}

#reveiws {
  scroll-behavior: smooth;
}

#service {
  scroll-behavior: smooth;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #ff9933;
  text-decoration: none;
}

.sk {
  margin-top: 120px;
}

.text__ss {
  margin-top: 2%;
  font-size: 3.5rem;
  color: #ffffff;
  font-family: "BALLOON DREAMS", sans-serif;
}

.footer-links-mob {
  display: none;
}

@media only screen and (max-width: 1200px) {
  body {
    min-width: unset;
  }

  .quotation>p {
    font-size: xx-large;
  }


  .section__home {
    flex-direction: column-reverse;
  }

  .section__home .left,
  .section__home .right {
    width: 100% !important;
  }

  .section__home .left {
    max-width: 600px;
    margin: 0 auto;
  }

  .section__home .section__home__proff {
    margin-top: 0;
  }

  .section__home .section__home__about {
    margin-top: 30px;
  }

  .section__home .section__home__about .text {
    margin: 0;
    width: 100%;
  }

  .skills {
    margin: 0;
  }

  .quotation {
    flex-wrap: wrap;
  }

  .quotation .quot1,
  .quotation .quot2,
  .quotation .quot3,
  .quotation .quot4 {
    width: 100%;
  }



  .footer {
    flex-direction: column;
  }

  .footer .block1,
  .footer .block2,
  .footer .block3 {
    width: 100% !important;
  }

  .footer .block2 {
    order: 1;
  }

  .footer .block1 {
    order: 2;
  }

  .footer .block3 {
    order: 3;
  }

  .footer .block2 form {
    max-width: 400px;
    margin: 0 auto;
  }

  .text__s {
    margin-left: 0 !important;
    text-align: center;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .section__home .left {
    max-width: 290px;
  }

  .language-dropdown {
    position: fixed;
  }

  .section__home {
    margin-top: 0 !important;
  }

  .section {
    padding-top: 90px !important;
  }

  .navigation .btn-cv {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    background: #212221;
  }

  .navigationbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0 15px;
  }

  .navigationbar .navigation {
    display: none;
    background: #212221;
    position: absolute;
    top: 100%;
    right: -20px;
    width: 70%;
    flex-direction: column;
    gap: 25px;
    /*display: flex;*/
    padding: 15px;
    transform: translateX(100%);
    transition: .3s;
  }


  .navigationbar .navigation.show {
    display: flex;
    transform: translateX(0);
    transition: .3s;
  }

  .navigationbar .burger,
  .navigationbar .cv-mob {
    display: block;
  }

  .navigationbar .cv-mob {
    width: 100%;
    max-width: 150px;
  }

  .navigationbar .burger {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .navigationbar .burger::before,
  .navigationbar .burger::after {
    content: '';
  }

  .navigationbar .burger::before,
  .navigationbar .burger::after,
  .navigationbar .burger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
  }

  .navigationbar .burger.show::before,
  .navigationbar .burger.show::after {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .navigationbar .burger.show::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .navigationbar .burger.show::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .navigationbar .burger.show span {
    display: none;
  }

  .section__home__proff {
    flex-direction: column;
  }

  .section__home__proff .card {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
  }

  .section__home__about .text {
    padding: 10px;
  }

  .programms {
    gap: 5px;
    justify-content: space-between;
  }

  .programms .programms__wrapper__card {
    width: 32%;
    margin: 0;
  }

  .service {
    margin: 0;
  }

  .quotation .quot1,
  .quotation .quot2,
  .quotation .quot3,
  .quotation .quot4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .quotation p {
    font-size: medium;
  }

  .service__wrapper__card {
    width: 100%;
  }

  .skills .text__s {
    margin-top: 70px !important;
  }

  .text__s,
  .text__ss {
    margin-left: 0 !important;
    text-align: center;
    font-size: 2rem;
  }

  .name {
    margin-left: 0 !important;
    text-align: center;
    font-size: 35px;
  }

  #contacts {
    padding-top: 60px;
  }

  .footer .f {
    margin-bottom: 0;
  }

  .footer-links-mob {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    order: 2;
    margin-top: 10px;
  }

  .boxService {
    padding-bottom: 0;
  }

  .footer .block1,
  .footer .block3 {
    display: none;
  }

  .footer .block2 {
    margin-top: 30px;
  }

  .footer .block2 .bbutton {
    margin-top: 20px;
  }

  .footer .block2 .f,
  .footer .block2 h3,
  .footer .block2 h4 {
    display: none;
  }

  .footer .footer__text {
    margin-top: 0;
  }

  .footer .fa-phone {
    font-size: 25px;
  }

  #contacts .text__ss {
    font-size: 2.5rem;
  }

  #placeholder {
    height: 400px;
  }

  .icons {
    margin-top: 0;
    top: 35%;
    width: 35px;
    height: 110px;
  }

  .icons .fa-brands {
    font-size: 18px;
  }
}